## Deep Dive into Operators

### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [2]:
## Arithmatic operation

a= 10
b = 5
add_result = a+b # addiction
sub_result = a-b  # Substraction
mult_result = a*b # Multiplication
div_result = a/b # Division
floor_div_result = a//b # floor Division
modulus_result = a%b # modulus opertion
exponent_result = a**b # Expontation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(exponent_result)
print(modulus_result)

15
5
50
2.0
2
100000
0

In [3]:
10/5

2.0

In [4]:
21/5

4.2

In [5]:
21//5

4

In [6]:
## Comparison Operator
## == Equal to
a=10
b=10

a==b

True

In [7]:
str1 = "Sunil"
str2 = "Sunil"

In [8]:
str1 == str2

True

In [9]:
## Not equal to !=
str1!=str2

False

In [10]:
str3= "Sunil"
str4= "sunil"
str3!=str4

True

In [11]:
# greater than

num1=45
num2 =55
num1>num2

False

In [12]:
# Less than
print(num1<num2)

True

In [14]:
# greater than or equal to

number1=45
number2=45

print(number1>=number2)

True

In [15]:
# less than or equalto

number1 =44
number2 =45

print(number1<=number2)

True

#### Logical Operators

In [16]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [17]:
X=False
Y=True

result =X and Y
print(result)

False

In [18]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [19]:
# Not operator
X=False
not X

True

In [20]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number:  11
Enter second number:  11

Addition: 22.0
Subtraction: 0.0
Multiplication: 121.0
Division: 1.0
Floor Division: 1.0
Modulus: 0.0
Exponentiation: 285311670611.0